name: update-github-aws

permissions:
  contents: write
  actions: read

on:
  schedule:
    - cron: '0 10 1 * *' # Runs at 10:00 UTC on the 1st day of every month (17:00 WIB)
  workflow_dispatch:

jobs:
  update-github-aws:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install requests

      - name: Fetch and update GitHub & AWS IPs
        run: |
          python scripts/fetch-github-aws.py

      - name: Check for changes
        id: git-check
        run: |
          git add pass.txt whitelist-tld.txt
          if git diff --cached --exit-code; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and push if changed
        if: steps.git-check.outputs.changed == 'true'
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "Update GitHub and AWS Lists - $(date +'%Y-%m-%d %H:%M WIB')"
          git pull --rebase
          git push
